/* Custom Navbar */
body{


	background-color: #1C1B21;
}
#hero-1{
	height: 650px;
	margin: 0px;


}

#hero-2{
	height: 650px;
	margin: 0px;
	opacity: 0.2;


}

#hero-1-text{
	text-align: center;
	margin-top: 150px;
	color: white;



}
#nav-1{

	height: 50px;
	opacity: 0.5;
}